.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-div {
  /* background: image(); */
  text-align: center;
}

.right-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 2em;
  /* text-align: center; */
  /* align-content: center; */
}

.pup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pup-form > input {
  width: 250px;
}

.pup-form > button {
  width: 250px;
}