/* .container {
  /* background-image: url(./assets/background.png);
  background-size: contain; */


.App {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.left-div {
  /* background: image(); */
  text-align: center;
}

.right-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 2em;
  /* text-align: center; */
  /* align-content: center; */
}

.pup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 20px;
}

.pup-form > input {
  width: 250px;
  border: 0;
  border-bottom: 1px solid black;
}

.pup-form > button {
  width: 250px;
}

